@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;600;700&display=swap');

.App {
  text-align: center;
}
body{
  background-color: hsl(218, 23%, 16%);
  font-family: "manrope",'sans-serif';
}

.advice-card{
  background-color: hsl(217, 19%, 24%);
}
.neon-button{
  background-color: hsl(150, 100%, 66%);
}
.neon-button:hover{
background-color: hsl(150, 100%, 66%);
box-shadow: 
0 0 5px hsl(150, 100%, 66%),
0 0 25px hsl(150, 100%, 66%),
0 0 30px hsl(150, 100%, 66%),
0 0 10px hsl(150, 100%, 66%);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
